.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-Cont {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  
  justify-content: center;
}

.game-box{
  position: relative;
  background-color: rgb(161, 7, 233);
  height: 8rem;
  width: 8rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.game-cont{
  /* background-color: thistle; */
  height: 26rem;
  width: 26rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid rgb(179, 77, 77);
}

.value{
  font-size: 5rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.score-board{
  height: 26rem;
  width: 26rem;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  /* align-items:; */
  /* justify-content: center; */
}

.score{
  display: flex;
  justify-content: space-between;
}

.winner-text {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:-5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}